
body {
    background: hsl(0deg 0% 95%);
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Lexend Deca' , sans-serif;
    color: hsl(0, 0%, 100%);
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    grid-template-columns: 100%;

}

.container-3column {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 18%));
    /* grid-auto-rows: 405px; */
}

.container-sedans {
    background: hsl(31, 77%, 52%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px 0 0 10px;
    gap:  1.5rem;
}

.container-suvs {
    background: hsl(184, 100%, 22%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    gap:  1.5rem;
}

.container-luxury {
    background: hsl(179, 100%, 13%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0 10px 10px 0;
    gap:  1.5rem;
}

.title {
    text-transform: uppercase;
    font-size: 700;
    margin: 0;
    font-size: 20px;
    font-family: 'Big Shoulders Display', sans-serif;
}

.description {
    font-size: 400;
    margin: 0;
    line-height: 1.8rem;
}

.btn {
    font-weight: 600;
    border-radius: 1.25rem;
    border: transparent;
    color: hsl(0, 0%, 100%);
    padding: .8em;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    width: 125px;
    gap: 2rem;
    transition: all 0.5s ease-in;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.btn-orange {
    background: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
}

.btn-orange:hover {
    border: 2px solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    background: hsl(31, 77%, 52%);
    transition: 2s ease;
}

.btn-cyan {
    background: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
}

.btn-cyan:hover {
    border: 2px solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    background: hsl(184, 100%, 22%);
    transition: 2s ease;
}

.btn-dark-cyan {
    background: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
}

.btn-dark-cyan:hover {
    border: 2px solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    background: hsl(179, 100%, 13%);
}

@media (min-width: 599px) and (max-width:760px) {
      
    .container-3column{
    grid-template-columns: repeat(auto-fit ,minmax(190px,30%));
 
  }
  .btn{
    margin: 10px;
  }

  }

  @media (max-width: 600px) {
    .container{
      height: 100%;
    }
    .container-3column{
    grid-template-columns: repeat(auto-fit ,minmax(290px,50%));
    margin-top:2.5rem;
    margin-bottom:2.5rem;

  }
    .container-sedans{
    border-radius: 10px 10px  0 0;
  }
  .container-luxury{
    border-radius: 0 0 10px 10px;

  }
  .btn{
    margin: 0;
  }
  }